---
layout: markdown_page
title: Acquisition Group
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

The Acquisition Group is part of the [Growth](/handbook/engineering/development/growth/) department and is responsible for promoting the value of GitLab and accelerating site visitors transition to happy valued users of our product.

* I have a question. Who do I ask?

Questions should start by @ mentioning the Product Manager for the [Acquisition group](/handbook/product/categories/#growth) or create an issue in [https://gitlab.com/gitlab-org/growth](https://gitlab.com/gitlab-org/growth).

### How we work
* We're data savvy
* In accordance with our [GitLab values](/handbook/values/)
* Transparently: nearly everything is public
* We get a chance to work on the things we want to work on
* Everyone can contribute; no silos

### Links and resources
{: #links}
* Collection of ideas that we explore
  * [Growth opportunities](https://gitlab.com/gitlab-org/growth/product)
* Our Slack channel - [#g_growth](https://gitlab.slack.com/archives/CDLCBGEDV/)
* Meeting agendas
  * Agendas and notes from team meetings can be found in [this Google Doc](https://docs.google.com/document/d/1ynp-R-aJdnn1V74zqG_Lteh_v1KlUkn_5yIydYFNLwk). For transparency across the team, we use one agenda document.

## Team Members

The following people are permanent members of the Activation Group:

<%= direct_team(manager_role: 'Engineering Manager, Acquisition and Conversion') %>

## Common Links
* [Growth issues board]
* [#g_growth] in Slack

[Growth issues group boards]: https://gitlab.com/gitlab-org/growth

[#g_growth]: https://gitlab.slack.com/archives/g_growth